@import '../../styles/variables', '../../styles/util';

/// Styles for the section
.section {
  background-color: #323441;
  padding-top: 2%;
  @include transform(translateY(-3px));
  @include mx-clear;

  /// Styles for the landscape which objects will be placed on
  .landscape {
    position: absolute;
    align-self: flex-start;
    width: 100%;
    @include transform(translateY(-4.9vw));
    @include mx-clear;

    /// Styles for the katana on top of the mountain
    .katana {
      position: absolute;
      right: 0;
      width: 20%;
      margin-right: 19%;
      margin-bottom: 3.5%;
      align-self: flex-end;
      z-index: 1000;

      /// Make the katana responsive for medium screens
      @media (min-width: $medium_screen) {
        margin-bottom: 4%;
      }

      /// Make the katana responsive for larger screens
      @media (min-width: $large_screen) {
        margin-bottom: 4.5%;
      }
    }

    /// Styles for the mountain on the landscape
    .mountain {
      width: 100%;
    }
  }

  /// Styles for the section content
  .content {
    padding-top: 20px;
    padding-bottom: 200px;
    width: 100%;
    background-color: #36222e;
    text-align: center;
    @include mx-clear;
  }
}
