/* Colors */

/// The primary color used throughout the website
$color_primary: #f12827;

/// The secondary color used throughout the website
$color_secondary: #fee9d6;

/// The primary color of the text used throughout the website
$text_color_primary: #1b274a;

/* Timings */
$rapid_transition: 0.15s;
$regular_transiton: 0.3s;
