@use "sass:math";

/* Colors */
/// The primary color used throughout the website
$color_primary: #f12827;

/// The secondary color used throughout the website
$color_secondary: #fbc597;

/// The tertiary color used throughout the website
$color_tertiary: #585f7b;

/// The primary color of the text used throughout the website
$text_color_primary: #fee9d6;

/// The secondary color of the text used throughout the website
$text_color_secondary: #1b274a;

/// The tertiary color of the text used throughout the website
$text_color_tertiary: #323441;

/* Timings */
/// The speed of a regular transition
$regular_transition_speed: 0.3s;

/// The speed of a slow transition
$slow_transition_speed: 0.5s;

/* Screen sizing */
/// Breakpoint for a mediumn screen
$medium_screen: 600px;

/// Breakpoint for a large screen
$large_screen: 1000px;

/* Ratios */
/// 16 : 9 aspect ratio
$aspect_ratio_widescreen: math.div(16, 9);
