@import '../../styles/variables', '../../styles/util';

/// Styles for the card
.card {
  background-color: $text_color_primary;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-image: url('../../../static/bg_team_card.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /// Make image larger on hover
  &:hover .wrapper .image {
    transform: scale(1.2);
  }

  /// Styles for the wrapper
  .wrapper {
    padding: 1.83rem;

    /// Styles for the image
    .image {
      width: 8rem;
      padding: 1rem;
      margin: 0 auto;
      @include transition(transform $regular_transition_speed ease-in-out);
    }

    /// Styles for the name
    .name {
      font-weight: 800;
      color: $text_color_tertiary;
      font-size: 2rem;
    }

    /// Styles for the job
    .job {
      font-weight: 800;
      color: $text_color_tertiary;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-style: italic;
    }

    /// Styles for the content
    .content {
      margin: 0 1rem !important;
      text-align: left;

      /// Styles for each paragraph
      .paragraph {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: $text_color_tertiary;
      }
    }
  }
}
