@import '../../styles/variables';

/// Styles for the title
.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: $text_color_primary;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

/// Styles for the container
.container {
  max-width: 1050px !important;

  /// Styles for each column
  .column {
    padding-bottom: 2rem !important;
  }
}
