@import '../../styles/variables', '../../styles/util';

/// Styles for the navigation bar
.navbar {
  background-color: rgb(250, 250, 250);
  width: 100%;
  position: sticky !important;
  top: 0;
  z-index: 1100;
  @include transition(box-shadow 0.3s ease-in-out);
  &.shadow {
    @include box-shadow(20px, 0, 30px, rgba($color: #111, $alpha: 0.3));
  }

  /// Styles for the navigation bar wrapper
  .wrapper {
    padding: 8px;

    /// Styles for the navigation bar content
    .content {
      @include mx-clear;

      /// Styles for the home button (logo and text)
      .homeButton {
        text-decoration: none;
        color: black;

        /// Styles for the logo wrapper
        .logo {
          @include mx-clear;

          /// Styles for the navigation bar iamge
          .image {
            margin-right: 8px;
          }

          /// Styles for the name next to the image
          .name {
            font-weight: bold;
            font-size: 18pt;
          }
        }
      }

      /// Styles for the list of links
      .links {
        list-style-type: none;

        /// Styles for each link item
        .linkItem {
          margin: 0 15px;

          /// Change link color on link item hover
          &:hover {
            .link {
              color: $color_primary;
              border-bottom: 2px solid $color_primary;
            }
          }

          /// Styles for each link
          .link {
            color: $text_color_secondary;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15pt;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            @include transition(
              $regular_transition_speed color ease-in-out,
              $regular_transition_speed border ease-in-out
            );
          }
        }
      }

      /// Styles for the sidebar toggler
      .toggler {
        position: absolute;
        right: 16px;
        @include transition(
          transform $regular_transition_speed ease-in-out,
          opacity $regular_transition_speed ease-in-out
        );

        /// Styles for the closed sidebar toggler
        &.togglerClosed {
          opacity: 1;
          z-index: 102;
          @include transform(rotate(0) scale(1));

          /// Styles for the closed sidebar toggler when applied
          &.togglerApplied {
            opacity: 0;
            z-index: 101;
            @include transform(rotate(180deg) scale(0));
          }
        }

        /// Styles for the opened sidebar toggler
        &.togglerOpen {
          opacity: 0;
          z-index: 101;
          @include transform(rotate(-180deg) scale(0));

          /// Styles for the opened sidebar toggler when applied
          &.togglerApplied {
            opacity: 1;
            z-index: 102;
            @include transform(rotate(0) scale(1.2));
          }
        }
      }
    }
  }
}
